h1 {
  color: black;
  font-size: 250%;
}

body {
  background-color: #BBBBFF;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.flexy {
  display: flex;
}

.infinitely-flexy {
  display: inline-flex;
}

.flexer {
  flex: 1;
  margin: 3px
}

.flex-column {
  flex-direction: column;
}

.lefty {
  align-items: flex-start;
}
